.layout {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.one {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1; /* Start the grid item from the first row */
    grid-row-end: 3; /* End the grid item on the third row */
}
